$wysiwyg-toolbar-color:     #999 !default;
$wysiwyg-icon-size:         1rem !default;

$wysiwyg-border-color:      #ddd !default;
$wysiwyg-border-radius:     .2rem !default;

$wysiwyg-padding-vert:      .3rem !default;
$wysiwyg-padding-horiz:     .5rem !default;

$wysiwyg-highlight-color:   HighlightText !default;
$wysiwyg-highlight-back:    Highlight !default;
