.wysiwyg-popup-smiley {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 24rem;
    line-height: 0;
    padding: 0.5rem 0.5rem 0 0;

    & > img {
        width: calc(100% / 8);
        padding: 0 0 0.5rem 0.5rem;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}
